
@{
    ViewData["Title"] = "Upload";
}

<h1>Upload</h1>

<input type="file" id="upload" />
<script type="text/javascript" src="https://csdnimg.cn/public/common/libs/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript">

    var formData = new FormData();
    formData.append("myfile", document.getElementById("upload").files[0]);

    $.ajax({
        url: "https://localhost:44362/api/v1.0/File/Upload",
        type: "POST",
        data: formData,
        /**
        *必须false才会自动加上正确的Content-Type
        */
        contentType: false,
        /**
        * 必须false才会避开jQuery对 formdata 的默认处理
        * XMLHttpRequest会对 formdata 进行正确的处理
        */
        processData: false,
        success: function (data) {
            console.log(data);
            if (data.status == "true") {
                alert("上传成功！");
            }
            if (data.status == "error") {
                alert(data.msg);
            }
        },
        error: function () {
            alert("上传失败！");
        }
    });
</script>
